button {
    background-color: #F1AB0F;
}

button:hover {
    background-color: #d89400;
}

/* styles.css o en el archivo de estilos correspondiente */
.custom-radio:checked {
    background-color: #f1ab0f;
    border-color: #f1ab0f;
}