<div class="flex-1 flex items-center justify-center min-h-screen p-8 transition-all duration-300">
  <form (ngSubmit)="registrarAlimentacion()" class="max-w-2xl w-full bg-white p-12 rounded-lg shadow-xl">
    <h1 class="text-center mb-8 text-4xl font-bold custom-font custom-color">Formulario de Alimentación</h1>

    <!-- Campo para la cantidad de alimento -->
    <div class="relative z-0 w-full mb-6 group">
      <input [(ngModel)]="alimentacion.cantidadAlimento" name="cantidadAlimento" type="number" id="floating_cantidad_alimento" class="block py-3 px-0 w-full text-lg text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-[#da8a00]" placeholder=" " required />
      <label for="floating_cantidad_alimento" class="peer-focus:font-medium absolute text-lg text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3">Cantidad de Alimento</label>
    </div>

    <!-- Campo para el tipo de alimento -->
    <div class="relative z-0 w-full mb-6 group">
      <input [(ngModel)]="alimentacion.tipoAlimento" name="tipoAlimento" type="text" id="floating_tipo_alimento" class="block py-3 px-0 w-full text-lg text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-[#da8a00]" placeholder=" " required />
      <label for="floating_tipo_alimento" class="peer-focus:font-medium absolute text-lg text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3">Tipo de Alimento</label>
    </div>

    <!-- Campo para la fecha -->
    <div class="relative z-0 w-full mb-6 group">
      <input [(ngModel)]="alimentacion.fecha" name="fecha" type="date" id="floating_fecha" class="block py-3 px-0 w-full text-lg text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-[#da8a00]" placeholder=" " required />
      <label for="floating_fecha" class="peer-focus:font-medium absolute text-lg text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3">Fecha</label>
    </div>

    <!-- Campo para el número del galpón -->
    <div class="relative z-0 w-full mb-6 group">
      <input [(ngModel)]="alimentacion.numero_Galpon" name="numero_Galpon" type="number" id="floating_numero_galpon" class="block py-3 px-0 w-full text-lg text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-[#da8a00]" placeholder=" " required />
      <label for="floating_numero_galpon" class="peer-focus:font-medium absolute text-lg text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3">Número del Galpón</label>
    </div>

    <!-- Botón de envío -->
    <button type="submit" class="w-full bg-secondary text-white py-3 px-4 rounded-lg hover:bg-tercary transition duration-300">Registrar Alimentación</button>
  </form>
</div>
