<!-- Menú lateral -->
<div class="fixed top-0 left-0 h-full bg-[#F2F5F7] shadow-lg transition-all duration-300 overflow-hidden menu"
     [class.w-64]="isMenuOpen && !isMobileView"
     [class.w-full]="isMenuOpen && isMobileView"
     [class.w-0]="!isMenuOpen">
  <div class="flex flex-col h-full">

    <!-- Logo y título del menú -->
    <div class="p-4 border-b border-[#F1AB0F]">
      <a href="/Home" class="flex items-center">
        <img src="../../../../assets/images/Logop-removebg-preview.png" alt="AviControl logo" class="w-8 h-8 mr-2">
        <span class="text-lg font-semibold text-black">
          Avi<span class="text-gray-800">Control</span>
        </span>
      </a>
    </div>

    <!-- Navegación principal -->
    <nav class="flex-grow mt-6">
      
      <!-- Gestión Gallinas -->
      <div class="px-2">
        <button (click)="toggleSubMenu(1)" class="flex items-center w-full py-4 menu-item">
          <img src="../../../../assets/icons/lista-de-verificacion.png" alt="Dashboard" class="w-8 h-8 mr-3">
          <span class="text-sm font-medium">Gestión Gallinas</span>
        </button>
        <!-- Submenú Gestión Gallinas -->
        <div *ngIf="subMenuVisible === 1" class="ml-10 mt-2">
          <a href="/TablaGallinas" routerLinkActive="active" class="flex items-center py-2 menu-item">
            <img src="../../../../../assets/icons/grafico-de-linea.png" alt="" class="w-5 h-5 mr-2 ml-5">
            <span style="font-size: 1rem;">Listado Gallinas</span>
          </a>
          <a href="/FormularioGallinas" routerLinkActive="active" class="flex items-center py-2 menu-item">
            <img src="../../../../../assets/icons/temperatura.png" alt="" class="w-5 h-5 mr-2 ml-5">
            <span>Formulario Gallinas</span>
          </a>
          <a href="/EstadisticasGallinas" class="flex items-center py-2 menu-item">
            <img src="../../../../../assets/icons/medidor-de-ph-digital.png" alt="" class="w-5 h-5 mr-2 ml-5">
            <span>Estadísticas Gallinas</span>
          </a>
        </div>
      </div>

      <!-- Gestión Galpones -->
      <div class="px-2 mt-4">
        <button (click)="toggleSubMenu(2)" class="flex items-center w-full py-4 menu-item">
          <img src="../../../../../assets/icons/creador-de-contenido.png" alt="" class="w-8 h-8 mr-3">
          <span class="text-sm font-medium">Gestión de Galpones</span>
        </button>
        <!-- Submenú Gestión Galpones -->
        <div *ngIf="subMenuVisible === 2" class="ml-10 mt-2">
          <a href="/TablaGalpones" class="flex items-center py-2 menu-item">
            <img src="../../../../../assets/icons/crear-especie.png" alt="" class="w-5 h-5 mr-2 ml-5">
            <span>Listado Galpones</span>
          </a>
          <a href="/FormularioGalpon" class="flex items-center py-2 menu-item">
            <img src="../../../../../assets/icons/seleccion-de-caracteristicas.png" alt="" class="w-5 h-5 mr-2 ml-5">
            <span>Formulario Galpones</span>
          </a>
          <a href="/FormularioAlimetacion" class="flex items-center py-2 menu-item">
            <img src="../../../../../assets/icons/editar.png" alt="" class="w-5 h-5 mr-2 ml-5">
            <span>Alimentación</span>
          </a>
          <a href="/HistorialAlimentacion" class="flex items-center py-2 menu-item">
            <img src="../../../../../assets/icons/mesa.png" alt="" class="w-5 h-5 mr-2 ml-5">
            <span>Historial Alimentación</span>
          </a>
        </div>
      </div>

      <!-- Sistema de Salud -->
      <div class="px-2 mt-4">
        <button (click)="toggleSubMenu(3)" class="flex items-center w-full py-4 menu-item">
          <img src="../../../../../assets/icons/advertencia.png" alt="" class="w-8 h-8 mr-3">
          <span class="text-sm font-medium">Sistema de Salud</span>
        </button>
        <!-- Submenú Sistema de Salud -->
        <div *ngIf="subMenuVisible === 3" class="ml-10 mt-2">
          <a href="/FormularioSaludGallinas" class="flex items-center py-2 menu-item">
            <img src="../../../../../assets/icons/configuracion.png" alt="" class="w-5 h-5 mr-2 ml-5">
            <span>Formulario Salud Gallinas</span>
          </a>
          <a href="/TablaSaludGallinas" class="flex items-center py-2 menu-item">
            <img src="../../../../../assets/icons/regulacion.png" alt="" class="w-5 h-5 mr-2 ml-5">
            <span>Historial</span>
          </a>
        </div>
      </div>

    </nav>
  </div>
</div>

<!-- Barra superior -->
<div class="fixed top-0 left-0 right-0 bg-[#F2F5F7] text-[#F1AB0F] p-4 h-16 flex justify-between items-center shadow-md">
  <div class="flex items-center">
    <button class="text-[#F1AB0F] focus:outline-none mr-4 hover-effect p-2 rounded" (click)="toggleMenu()">
      <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/>
      </svg>
    </button>
    <a href="/Home" class="flex items-center">
      <img src="../../../../assets/images/Logop-removebg-preview.png" alt="PESCAMAX logo" class="w-8 h-8 mr-2">
      <span class="text-lg font-semibold text-[#F1AB0F]">AVI<span class="text-black">CONTROL</span></span>
    </a>
  </div>
  <!-- Icono de perfil -->
  <div class="flex items-center">
    <img src="../../../../assets/icons/pakistani.png" alt="Perfil" class="w-9 h-9 user-icon cursor-pointer hover:opacity-80" (click)="toggleUserMenu()">
  </div>
</div>

<!-- Dropdown del menú de usuario -->
<div *ngIf="isUserMenuVisible" class="absolute right-4 top-16 user-menu">
  <a href="/user-config">Perfil</a>
  <a href="#settings">Ajustes</a>
  <button (click)="logout()">Cerrar sesión</button>
</div>

<!-- Contenido principal -->
<div class="content-wrapper">
  <!-- Aquí va el contenido de cada página -->
</div>
