<nav class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start rtl:justify-end">
        <button aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
           <span class="sr-only">Open sidebar</span>
           <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h10"/>
           </svg>
        </button>
        <a href="http://localhost:4200/Home" class="flex ms-2 md:me-24">
          <img src="../../../../../assets/images/Logo.jpg" class="h-8 me-3" alt="FlowBite Logo" />
          <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">AviControl</span>
        </a>
      </div>
      <div class="flex justify-end items-center w-full">
        <div class="hidden md:block md:w-auto mr-4" id="navbar-default">
          <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
            <li>
              <a href="http://localhost:4200/Home" class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500" aria-current="page">Home</a>
            </li>
            <li>
              <a href="http://localhost:4200/login" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Cerrar sesión</a>
            </li>
          </ul>
        </div>

        <!-- Icono del perfil  -->
        <div class="flex items-center ms-5">
          <button
            type="button"
            class="flex text-sm bg-white rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
            aria-expanded="false"
            (click)="toggleUserDropdown()"
            aria-controls="dropdown-user">
            <span class="sr-only">Open user menu</span>
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 21a9 9 0 1 0 0-18 9 9 0 0 0 0 18Zm0 0a8.949 8.949 0 0 0 4.951-1.488A3.987 3.987 0 0 0 13 16h-2a3.987 3.987 0 0 0-3.951 3.512A8.948 8.948 0 0 0 12 21Zm3-11a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
            </svg>
          </button>
          <div [ngClass]="{'hidden': !isUserDropdownVisible}" class="z-50 my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600" id="dropdown-user">
            <div class="px-4 py-3" role="none">
              <p class="text-sm text-gray-900 dark:text-white" role="none">Neil Sims</p>
              <p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300" role="none"></p>
            </div>
            <ul class="py-1" role="none">
              <li>
                <button (click)="signOut()" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">Sign out</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700" aria-label="Sidebar">
  <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
      <ul class="space-y-2 font-medium">
          <!-- Menu desplegable principal -->
          <li>
              <button
                  type="button"
                  class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
                  (click)="toggleMainDropdown()"
                  aria-controls="main-dropdown"
                  data-collapse-toggle="main-dropdown">
                  <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"  fill="currentColor"  viewBox="0 0 18 21">
                      <path d="M15 12a1 1 0 0 0 .962-.726l2-7A1 1 0 0 0 17 3H3.77L3.175.745A1 1 0 0 0 2.208 0H1a1 1 0 0 0 0 2h.438l.6 2.255v.019l2 7 .746 2.986A3 3 0 1 0 9 17a2.966 2.966 0 0 0-.184-1h2.368c-.118.32-.18.659-.184 1a3 3 0 1 0 3-3H6.78l-.5-2H15Z"/>
                  </svg>
                  <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">Monitoreo Gallinas</span>
                  <svg class="w-3 h-3"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 10 6">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                  </svg>
              </button>
              <ul id="main-dropdown" [ngClass]="{'hidden': !isMainDropdownVisible}" class="py-2 space-y-2">
                  <li>
                      <a href="http://localhost:4200/TablaGallinas" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-8 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Listado de las gallinas</a>
                  </li>
                  <li>
                      <!-- Menu desplegable anidado -->
                      <button
                          type="button"
                          class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg pl-8 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
                          (click)="toggleNestedDropdown()"
                          aria-controls="nested-dropdown"
                          data-collapse-toggle="nested-dropdown">
                          <span class="flex-1 text-left rtl:text-right whitespace-nowrap">Cuidado Gallinas</span>
                          <svg class="w-3 h-3"
                              aria-hidden="true"
                              xmlns="http://www.w3.org/2000/svg"
                              fill="none"
                              viewBox="0 0 10 6">
                              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                          </svg>
                      </button>
                      <ul id="nested-dropdown" [ngClass]="{'hidden': !isNestedDropdownVisible}" class="py-2 space-y-2">
                        <!-- Submenú Historial Gallinas -->
                        <li>
                          <button
                            type="button"
                            class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg pl-12 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
                            (click)="toggleHistorialGallinas()"
                            aria-controls="historial-gallinas-dropdown"
                            data-collapse-toggle="historial-gallinas-dropdown">
                            <span class="flex-1 text-left rtl:text-right whitespace-nowrap">Historial Gallinas</span>
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                            </svg>
                          </button>
                          <ul id="historial-gallinas-dropdown" [ngClass]="{'hidden': !isHistorialGallinasVisible}" class="py-2 space-y-2">
                            <li>
                              <a href="http://localhost:4200/formularioGallinas" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-16 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Formulario Gallinas</a>
                            </li>
                            <li>
                              <a href="http://localhost:4200/estadisticasGallinas" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-16 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Estadísticas Gallinas</a>
                            </li>
                          </ul>
                        </li>

                        <!-- Submenú Vacunacion -->
                        <li>
                          <button
                            type="button"
                            class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg pl-12 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
                            (click)="toggleVacunacion()"
                            aria-controls="vacunacion-dropdown"
                            data-collapse-toggle="vacunacion-dropdown">
                            <span class="flex-1 text-left rtl:text-right whitespace-nowrap">Vacunacion</span>
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                            </svg>
                          </button>
                          <ul id="vacunacion-dropdown" [ngClass]="{'hidden': !isVacunacionVisible}" class="py-2 space-y-2">
                            <li>
                              <a href="http://localhost:4200/formulariosHorarios" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-16 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Formulario de Horarios</a>
                            </li>
                            <li>
                              <a href="http://localhost:4200/tablaHorarios" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-16 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Tabla de Horarios</a>
                            </li>
                          </ul>
                        </li>

                        <!-- Submenú Bitacora Diaria -->
                        <li>
                          <button
                            type="button"
                            class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg pl-12 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
                            (click)="toggleBitacora()"
                            aria-controls="bitacora-dropdown"
                            data-collapse-toggle="bitacora-dropdown">
                            <span class="flex-1 text-left rtl:text-right whitespace-nowrap">Bitacora Diaria</span>
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                            </svg>
                          </button>
                          <ul id="bitacora-dropdown" [ngClass]="{'hidden': !isBitacoraVisible}" class="py-2 space-y-2">
                            <li>
                              <a href="http://localhost:4200/formularioBitacora" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-16 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Formulario Bitacora</a>
                            </li>
                            <li>
                              <a href="http://localhost:4200/tablaBitacora" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-16 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Tabla Bitacora</a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                  </li>
              </ul>
          </li>

<!--galpon-->

          <li>
            <button
                type="button"
                class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
                (click)="toggleMainDropdown()"
                aria-controls="main-dropdown"
                data-collapse-toggle="main-dropdown">
                <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"  fill="currentColor"  viewBox="0 0 18 21">
                    <path d="M15 12a1 1 0 0 0 .962-.726l2-7A1 1 0 0 0 17 3H3.77L3.175.745A1 1 0 0 0 2.208 0H1a1 1 0 0 0 0 2h.438l.6 2.255v.019l2 7 .746 2.986A3 3 0 1 0 9 17a2.966 2.966 0 0 0-.184-1h2.368c-.118.32-.18.659-.184 1a3 3 0 1 0 3-3H6.78l-.5-2H15Z"/>
                </svg>
                <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">Monitoreo Gaolpones</span>
                <svg class="w-3 h-3"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg>
            </button>
            <ul id="main-dropdown" [ngClass]="{'hidden': !isMainDropdownVisible}" class="py-2 space-y-2">
                <li>
                    <a href="http://localhost:4200/TablaGallinas" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-8 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">listado galpones</a>
                </li>
                <li>
                    <!-- Menu desplegable anidado -->
                    <button
                        type="button"
                        class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg pl-8 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
                        (click)="toggleNestedDropdown()"
                        aria-controls="nested-dropdown"
                        data-collapse-toggle="nested-dropdown">
                        <span class="flex-1 text-left rtl:text-right whitespace-nowrap">Cuidado Galpones</span>
                        <svg class="w-3 h-3"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                        </svg>
                    </button>
                    <ul id="nested-dropdown" [ngClass]="{'hidden': !isNestedDropdownVisible}" class="py-2 space-y-2">
                      <!-- Submenú Historial Gallinas -->
                      <li>
                        <button
                          type="button"
                          class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg pl-12 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
                          (click)="toggleHistorialGallinas()"
                          aria-controls="historial-gallinas-dropdown"
                          data-collapse-toggle="historial-gallinas-dropdown">
                          <span class="flex-1 text-left rtl:text-right whitespace-nowrap">Estado De Galpones</span>
                          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                          </svg>
                        </button>
                        <ul id="historial-gallinas-dropdown" [ngClass]="{'hidden': !isHistorialGallinasVisible}" class="py-2 space-y-2">
                          <li>
                            <a href="http://localhost:4200/formularioGallinas" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-16 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Registro de Estados</a>
                          </li>
                        </ul>
                      </li>

                      <!-- Submenú Vacunacion -->
                      <li>
                        <button
                          type="button"
                          class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg pl-12 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
                          (click)="toggleVacunacion()"
                          aria-controls="vacunacion-dropdown"
                          data-collapse-toggle="vacunacion-dropdown">
                          <span class="flex-1 text-left rtl:text-right whitespace-nowrap">Monitoreo Galpones</span>
                          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                          </svg>
                        </button>
                        <ul id="vacunacion-dropdown" [ngClass]="{'hidden': !isVacunacionVisible}" class="py-2 space-y-2">
                          <li>
                            <a href="http://localhost:4200/formulariosHorarios" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-16 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Formulario Monitoreo Diario</a>
                          </li>
                          <li>
                            <a href="http://localhost:4200/tablaHorarios" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-16 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Historial Monitoreo Diario</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                </li>
            </ul>
        </li>
      </ul>
  </div>
</aside>
