<div class="flex h-screen">
    <!-- Menu Lateral -->
    <div class="w-64">
      <app-sidebar></app-sidebar>
    </div>
  
    <!-- Contenido Principal -->
    <div class="flex-1 p-6 bg-gray-100 transition-all duration-300">
      <h1 class="font-bold mb-4 text-custom-blue text-center text-lg font-sans">Registro de Especies</h1>
      
      <!-- Contenedor Flex para los Selectores -->
      <div class="flex space-x-7">
        <!-- Selector 1 -->
        <div class="w-1/2">
          <app-form-conteo></app-form-conteo>
        </div>
        
        <!-- Selector 2 -->
        <div class="w-1/2">
          <app-tipo-huevo-table></app-tipo-huevo-table>
        </div>
      </div>
      
    </div>
  </div>
  