button{
    --grad-clr1: #da8a00;
    --grad-clr2: #da8a00;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: background-color 75ms ease-in-out, color 75ms ease-in-out;
}

button.primary {
    border: 1px solid var(--grad-clr1);
    background: var(--grad-clr2);
    color: #fff;
}

button.primary:hover {
    background: #fff;
    color: var(--grad-clr2);
}


button.secondary {
    border: 1px solid var(--grad-clr1);
    background: #fff;
    color: var(--grad-clr2);
}

button.secondary:hover {
    background: var(--grad-clr2);
    color: #fff;
}

button::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

button:active {
    transform: translate3d(0,2px,0);
}

button:active::after {
    background-color: rgba(255, 166, 0, 0.171);
}