
<div>
    <img src="../../../../../../assets/icons/Diseño sin título.png" alt="Imagen de Gallina 1">
    <h1>Descripcion Galpones</h1>

    <div class="logo">

      
            <p> 
                Un galpón es una estructura cerrada y espaciosa utilizada en la avicultura para albergar gallinas ponedoras, proporcionando un entorno controlado y seguro. Nuestro sistema integrará tecnología Arduino con sensores de peso y RFID para monitorear datos vitales de cada gallina, como raza, edad, producción diaria de huevos y estado de salud. Esta información será accesible para agricultores, enfermeros y administradores autorizados, facilitando la gestión y optimización de la producción de huevos y el cuidado de las gallinas.
            </p>
    </div>
</div>