<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descripción de Galpones</title>
    <link rel="stylesheet" href="descripcion-galpones.component.css">
</head>
<body>
    <header>
        <h1>Descripción de Galpones</h1>
    </header>

    <main>
        <section class="gallina">
            <h2 class = center>Gallina Feliz </h2>
            <div class="gallina-info">
                <img src="/src/assets/icons/GF-Logo.svg" alt="Imagen de Gallina 1">
                <div class="details">
                    <p class="p"><strong>Un galpón es una estructura cerrada y espaciosa utilizada en la avicultura
                         para albergar gallinas ponedoras, proporcionando un entorno controlado y seguro. 
                         Nuestro sistema integrará tecnología Arduino con sensores de peso y RFID para monitorear datos vitales de cada gallina, como raza, edad, producción diaria de huevos y estado de salud. Esta información será accesible para agricultores, enfermeros y administradores autorizados, 
                        facilitando la gestión y optimización de la producción de huevos y el cuidado de las gallinas.</strong>
                </div>
            </div>

            <br>
            <h2 >Proceso de Gestión con el Sistema </h2>
            <div class="details">
                <p><strong>
                  <h3> Instalación de Tecnología:</h3>

<p class="p">1. Equipar el galpón con sensores de peso y etiquetas RFID conectadas a sistemas Arduino.</p>
   <p class=p> - Instalar lectores RFID y balanzas en las áreas donde las gallinas se alimentan y ponen huevos.</p>

<br>

<h3>Registro y Monitoreo de Datos:</h3>

<p class="p">2. Asignar una etiqueta RFID a cada gallina para su identificación única.</p>
<p class="p"> - Los sensores de peso registran la producción diaria de huevos y las balanzas miden el peso de las gallinas.</p>
<p class="p"> - Los lectores RFID capturan la actividad y movimiento de cada gallina</p>
<br>

<h3>Evaluación de la Salud:</h3>

<p class="p">3. Enfermeros autorizados realizan evaluaciones periódicas del estado de salud de las gallinas y registran la información en el sistema.</p>
<p class="p"> - Los datos de salud incluyen observaciones sobre el comportamiento, signos de enfermedad y tratamientos administrados.</p>

<br>

<h3>Almacenamiento y Gestión de Datos:</h3>

<p class="p">4. Toda la información recopilada por los sensores y los enfermeros se almacena en una base de datos centralizada.</p>
<p class="p"> - Se utilizan procedimientos almacenados y transacciones para asegurar la integridad y consistencia de los datos</p>
    
    <br>

<h3>Acceso y Uso de la Información:</h3>

<p class="p">5.Agricultores, enfermeros y administradores autorizados acceden al sistema a través de una aplicación web desarrollada en ASP.NET Core.</p>
<p class="p">La aplicación permite visualizar datos en tiempo real sobre la producción de huevos, estado de salud y otros parámetros críticos.</p>
                
<br>

<h3>Toma de Decisiones:</h3>

<p class="p">6. Basado en la información recopilada, los agricultores pueden tomar decisiones informadas sobre el manejo de las gallinas, como ajustes en la alimentación o intervención veterinaria.</p>
<p class="p"> - Los administradores pueden optimizar la producción y mejorar las condiciones del galpón para maximizar el bienestar de las gallinas.</p>


<h3>Beneficios del Sistema :</h3>

<p class="p"> - Monitoreo Continuo: Provee datos en tiempo real sobre la producción y salud de cada gallina.</p>
<p class="p"> - Gestión Eficiente: Facilita la gestión y permite la identificación temprana de problemas de salud.</p>
<p class="p"> -  Acceso Centralizado: Información accesible para todos los usuarios autorizados a través de una plataforma web.</p>
<p class="p"> -  Optimización de la Producción: Permite ajustar las condiciones del galpón para mejorar la producción de huevos y el bienestar animal.</p>

                </strong>
            </div>
        </section>

        
    </main>
<br>
    <footer>
        <p>&copy; 2024 Granjas Avícolas. Todos los derechos reservados.</p>
    </footer>
</body>
</html>


