<div class="flex-1 flex items-center justify-center min-h-screen p-4 transition-all duration-300">
    <form (ngSubmit)="registerGalpon()" class="w-full max-w-lg bg-white p-8 rounded-lg shadow-lg">
        <h1 class="text-center mb-6 text-4xl font-bold custom-font custom-color">Formulario de Galpones</h1>

        <!-- Número del Galpón -->
        <div class="relative z-0 w-full mb-6 group">
            <input [(ngModel)]="galpones.numero_galpon" type="number" name="numero_galpon" id="floating_numero_galpon"
                   class="block py-3 px-0 w-full text-lg text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-black dark:border-gray-600 dark:focus:border-secondary focus:outline-none focus:ring-0 focus:border-secondary peer"
                   required min="0" max="10">
            <label for="floating_numero_galpon"
                   class="peer-focus:font-medium absolute text-lg text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-secondary peer-focus:dark:text-secondary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                Número del Galpón
            </label>
        </div>

        <!-- Tipo de Galpón -->
        <div class="relative z-0 w-full mb-6 group">
            <input [(ngModel)]="galpones.tipo_galpon" type="text" name="tipo_galpon" id="floating_tipo_galpon"
                   class="block py-3 px-0 w-full text-lg text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-black dark:border-gray-600 dark:focus:border-secondary focus:outline-none focus:ring-0 focus:border-secondary peer"
                   required>
            <label for="floating_tipo_galpon"
                   class="peer-focus:font-medium absolute text-lg text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-secondary peer-focus:dark:text-secondary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                Tipo de Galpón
            </label>
        </div>

        <button type="submit" class="text-white bg-secondary hover:bg-secondary focus:ring-4 focus:outline-none focus:ring-secondary font-medium rounded-lg text-lg w-full sm:w-auto px-6 py-3 text-center dark:bg-secondary dark:hover:bg-tercario dark:focus:ring-secondary">
            Registrar
        </button>
    </form>
</div>
