<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descripción de Gallinas</title>
    <link rel="stylesheet" href="descripcion-gallinas.component.css">
</head>
<body>
    <header>
        <h1>Descripción de Gallinas</h1>
    </header>

    <main>
        <section class="gallina">
            <h2 class = center>Gallina Feliz </h2>
            <div class="gallina-info">
                <img src="/src/assets/icons/GF-Logo.svg" alt="Imagen de Gallina 1">
                <div class="details">
                    <p class="p"><strong>Las gallinas ponedoras son aves criadas específicamente para la producción de huevos. 
                        Estas gallinas se seleccionan y cuidan cuidadosamente para maximizar la cantidad y calidad de huevos producidos. 
                        Son esenciales en la industria avícola debido a su capacidad para poner huevos regularmente.</strong>
                </div>
            </div>

            <br>
            <h2 >Proceso de Gestión con el Sistema </h2>
            <div class="details">
                <p><strong>
                  <h3>  Registro de Información de Gallinas:</h3>

<p class="p">1. Cada gallina es registrada en el sistema con detalles como raza, edad, y su historial de producción de huevos.</p>

<br>

<h3>Monitoreo de Salud:</h3>

<p class="p">2. Enfermeros autorizados evalúan regularmente la salud de las gallinas, registrando cualquier complicación y los tratamientos necesarios.
Esta información se almacena en el sistema y es accesible para los agricultores y administradores autorizados.</p>
<br>

<h3>Producción Diaria de Huevos:</h3>

<p class="p">3. Los datos de producción de huevos son ingresados diariamente en el sistema.
Sensores de peso y RFID integrados con sistemas Arduino ayudan en la recopilación automática de datos.</p>

<br>

<h3>Acceso y Gestión de Información:</h3>

<p class="p">4. Agricultores, enfermeros y administradores autorizados pueden acceder al sistema para consultar y actualizar la información de las gallinas.
La información se presenta de manera clara y organizada, facilitando la toma de decisiones y la optimización del manejo de la granja.</p>
<br>

<h3>Análisis y Reportes:</h3>

<p class="p">5. El sistema genera reportes y análisis de producción y salud, permitiendo una mejor planificación y gestión de recursos.
Predicciones basadas en inteligencia artificial ayudan a anticipar problemas y mejorar la eficiencia de la producción.</p>
                </strong>
            </div>
        </section>

        
    </main>
<br>
    <footer>
        <p>&copy; 2024 Granjas Avícolas. Todos los derechos reservados.</p>
    </footer>
</body>
</html>


