
<div>
    <img src="../../../../../../assets/icons/Diseño sin título.png" alt="Imagen de Gallina 1">
    <h1>Descripcion Gallinas</h1>

    <div class="logo">

      
            <p>Las gallinas ponedoras son aves criadas específicamente para la producción de huevos. 
                Estas gallinas se seleccionan y cuidan cuidadosamente para maximizar la cantidad y calidad de huevos producidos. 
                Son esenciales en la industria avícola debido a su capacidad para poner huevos regularmente.
            </p>
    </div>
</div>