<div class="w-full">
    <table class="table-fixed-width text-xs text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-4 py-3 text-[#c77900]">Código</th>
                <th scope="col" class="px-4 py-3 text-[#c77900]">Raza</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let raza of razas" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-2 py-1 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ raza.id_Raza }}
                </td>
                <td class="px-4 py-3">{{ raza.raza }}</td>
            </tr>
        </tbody>
    </table>
</div>

