p{
    font-size: 0.9rem;
    text-align: justify;
    line-height: 1.6;
    padding: 0 10%;
    color: black;
    margin-left:50px;
    font-size:18px;
    margin-top: 30px;
    text-align:center;

}