<nav class="navbar navbar-expand navbar-dark px-2" style="background-color: #f1ab0f">
    <div class="side-nav-buttom p-2 me-3 text-dark">
        <i class="fa-solid fa-bars"></i>
    </div>

    <a href="#" class="navbar-brand px-4 text-dark">Navbar</a>

    <div class="navbar-collapse">

        <ul class="navbar-nav me-auto">

            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle text-dark" role="button" data-bs-toggle="dropdown">
                    Menu 1
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" class="dropdown-item">child 1</a>
                        <a href="#" class="dropdown-item">child 2</a>
                        <a href="#" class="dropdown-item">child 3</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle text-dark" role="button" data-bs-toggle="dropdown">
                    Menu 1
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" class="dropdown-item">child 1</a>
                        <a href="#" class="dropdown-item">child 2</a>
                        <a href="#" class="dropdown-item">child 3</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle text-dark" role="button" data-bs-toggle="dropdown">
                    Menu 1
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" class="dropdown-item">child 1</a>
                        <a href="#" class="dropdown-item">child 2</a>
                        <a href="#" class="dropdown-item">child 3</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <form class="d-flex me-5">
        <input type="search" class="form-control me-2" placeholder="Search">
        <button type="submit" class="btn btn-outline-light">Search</button>
    </form>

    <div class="profile-Logo dropstart">
        <button class="btn btn outline-light dropdown-toggle" data-bs-toggle="dropdown">
            Rohan
        </button>

        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a href="#" class="dropdown-item">Sing up</a></li>
            <li><a href="#" class="dropdown-item">Log In</a></li>
            <li><a href="#" class="dropdown-item">Your Profile</a></li>
            <li><a href="#" class="dropdown-item">Log out</a></li>
        </ul>
    </div>
    
</nav>
