<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="h1.component.css">
    <title>Tr-Error404</title>
</head>
<body>
    <div class="logo"><img src="../../../../../../assets/icons/Diseño sin título.png" alt="">
    </div>
    <div class="error_container ">
        <div class="error_code">
            <p class="cuatro">4</p>
            <p class="cero">0</p>
            <p class="cuatrodos">4</p>
        </div>
        <div class="error_title">Pagina no encontrada</div>
        <div class="error_description">Parece que no podemos encontrar la pagina.</div>
        <button class="action"><a href="https://aternos.org/server/#goog_rewarded">Ir a inicio</a></button>
    </div>
</body>
</html>
