<div class="border-gray-600">
    <app-rdstate-viruta></app-rdstate-viruta>
    <app-rdstate-viruta2></app-rdstate-viruta2>
    <app-rdstate-cubiculos></app-rdstate-cubiculos>
    <app-rdstate-cubiculos2></app-rdstate-cubiculos2>
    <app-rdstate-comederos></app-rdstate-comederos>
    <app-rdstate-comederos2></app-rdstate-comederos2>
    <app-rdstate-comida></app-rdstate-comida>
    <app-rdstate-comida2></app-rdstate-comida2>
    <app-rdstate-agua></app-rdstate-agua>
    <app-rdstate-agua2></app-rdstate-agua2>
    <app-button-enviar></app-button-enviar>
</div>