<div class="flex justify-between py-2 mx-5 text-white">

    <div>
        <img src="" alt="logo">
        <h6> Gallina Feliz </h6>
    </div>

    <div class="flex items-center">
        <br>
        <div class="mr-3">
            <a href="/#DB9D36.svg">Login</a>
        </div>


        <div class="flex items-center justify-center ">
            <a href="">
            <div class="flex bg-slate-500 py-2 px-3 rounded-md">
              <div class="mr-3">
                <mat-icon>RiAdminLine</mat-icon>
            </div>
            <div>
                <h6>Administrador</h6>
            </div>
            </div>
            
            </a>
         
        </div>
    </div>

</div>
