<div class="sticky top-0">
    <div class="flex justify-between py-1 mx-5 text-white items-center">
       <div>
          <a href="" class="flex">
             <img src="../../../../../assets/images/logo.png" alt="logo" class="h-16 w-auto">
             <h6 class="m-9">Gallina Feliz</h6>
          </a>
       </div>
    
       <div class="flex items-center">
          <br>
          <div class="mr-5 hover-underline">
             <a href="#">Login</a>
          </div>
    
          <div class="flex items-center bg-orange-500 py-2 px-2 rounded-md">
             <a href="">
                <div class="flex">
                   <mat-icon></mat-icon>
                   <h6 class="ml-1">Administrador</h6>
                </div>
             </a>
          </div>
       </div>
    </div>
 </div>
 