<img class="wave" src="">
<div class="container">
  <div class="img">
    <img src="../../../../../assets/images/Logo.jpg">
  </div>
  <div class="login-content">
    <form (ngSubmit)="onLogin()"> <!-- Cambié (submit) a (ngSubmit) -->
      <img src="../../../../../assets/images/avatar.png">
      <h2 class="title">Bienvenido a Avicontrol</h2>
      <div class="input-div one">
        <div class="i">
          <i class="fas fa-user"></i>
        </div>
        <div class="div">
          <h5>Correo Electronico
          </h5>
          <input type="text" class="input" [(ngModel)]="loginModel.Email" name="correo" required> <!-- ngModel enlazado a loginModel.correo -->
        </div>
      </div>
      <div class="input-div pass">
        <div class="i">
          <i class="fas fa-lock"></i>
        </div>
        <div class="div">
          <h5>Contraseña</h5>
          <input type="password" class="input" [(ngModel)]="loginModel.Password" name="clave" required> <!-- ngModel enlazado a loginModel.clave -->
        </div>
      </div>
      <a href="#">¿Has olvidado tu contraseña?</a>
      <input type="submit" class="btn" value="Iniciar Sesion">
    </form>
  </div>
</div>
