<h3 class="flex mb-2 font-medium text-gray-900 dark:text-white">Relleno de los puestos de agua.</h3>
<div class="flex items-center mb-4">
    <input id="state8" type="radio" name="states4" value="Estable4" class="custom-radio w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600" checked>
    <label for="state1" class="block ms-2 font-medium text-gray-900 dark:text-gray-200">
      Estable.
    </label>
  </div>
  