@tailwind base;
@tailwind components;
@tailwind utilities;

div:where(.swal2-container) h2:where(.swal2-title) {
    padding: 0 !important; 
}
div:where(.swal2-container) .swal2-html-container {
    padding: 0 !important; 
}