<div class="w-full">
  <h1 class="text-center mb-6 text-3xl font-bold custom-font custom-color">Tabla de Galpones</h1>
  
  <!-- Tabla de galpones -->
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3 text-secondary">Número de Galpón</th>
        <th scope="col" class="px-6 py-3 text-secondary">Tipo de Galpón</th>
        <th scope="col" class="px-6 py-3 text-secondary">Número de Gallinas</th>
        <th scope="col" class="px-6 py-3 text-secondary">Cantidad de Alimento</th>
        <th scope="col" class="px-6 py-3 text-secondary">Tipo de Alimento</th>
        <th scope="col" class="px-6 py-3 text-secondary">Fecha de Alimentación</th>
        <th scope="col" class="px-6 py-3 text-secondary">Cantidad de Huevos</th>
        <th scope="col" class="px-6 py-3 text-secondary">Fecha de Huevos</th>
        <th scope="col" class="px-6 py-3 text-secondary">Tipo de Huevo</th>
        <th scope="col" class="px-6 py-3 text-secondary">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <!-- Itera sobre la lista de galpones -->
      <tr *ngFor="let galpon of galpones" class="bg-setext-secondary border-b dark:bg-gray-800 dark:border-gray-700">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 setext-secondaryspace-nowrap dark:text-secondary">
          {{ galpon.numero_Galpon }}
        </th>
        <td class="px-6 py-4">{{ galpon.tipo_Galpon }}</td>
        <td class="px-6 py-4">{{ galpon.numero_Gallinas }}</td>
        <td class="px-6 py-4">{{ galpon.cantidadAlimento }}</td>
        <td class="px-6 py-4">{{ galpon.tipoAlimento }}</td>
        <td class="px-6 py-4">{{ galpon.fechaAlimentacion | date }}</td>
        <td class="px-6 py-4">{{ galpon.cantidadHuevos }}</td>
        <td class="px-6 py-4">{{ galpon.fechaHuevos | date }}</td>
        <td class="px-6 py-4">{{ galpon.tipoHuevo }}</td>
        <td class="px-6 py-4">
          <div class="flex space-x-4">
            <!-- Botón para actualizar -->
            <button (click)="editGalpon(galpon)" class="bg-secondary hover:bg-tercario text-white font-bold py-2 px-4 rounded">
              Actualizar
            </button>
            <!-- Botón para eliminar -->
            <button (click)="openDeleteModal(galpon.numero_Galpon)" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
              Eliminar
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Formulario flotante para actualizar galpón -->
  <div *ngIf="selectedGalpon" class="fixed inset-0 flex items-center justify-center z-50">
    <!-- Fondo oscuro -->
    <div class="absolute inset-0 bg-black opacity-50"></div>
    
    <!-- Contenedor del formulario -->
    <div class="relative bg-setext-secondary rounded-lg shadow-lg p-6 z-50 w-full max-w-lg">
      <h2 class="text-xl font-bold mb-4">Actualizar Galpón</h2>
      
      <!-- Formulario para actualizar -->
      <form (ngSubmit)="updateGalpon()">
        <div class="mb-4">
          <label class="block text-gray-700">Número de Galpón</label>
          <input [(ngModel)]="selectedGalpon.numero_Galpon" name="numero_Galpon" type="number" class="mt-1 block w-full border-gray-300 rounded-md" required />
        </div>
        <div class="mb-4">
          <label class="block text-gray-700">Tipo de Galpón</label>
          <input [(ngModel)]="selectedGalpon.tipo_Galpon" name="tipo_Galpon" type="text" class="mt-1 block w-full border-gray-300 rounded-md" required />
        </div>
        <div class="flex justify-end space-x-4">
          <button type="submit" class="bg-secondary hover:bg-tercario text-secondary font-bold py-2 px-4 rounded">
            Guardar Cambios
          </button>
          <button type="button" (click)="cancelEdit()" class="bg-red-500 hover:bg-red-700 text-secondary font-bold py-2 px-4 rounded">
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>

  <!-- Formulario flotante para eliminar galpón -->
  <!-- Formulario flotante para eliminar galpón -->
<div *ngIf="deleteGalponId !== null" class="fixed inset-0 flex items-center justify-center z-50">
  <!-- Fondo oscuro -->
  <div class="absolute inset-0 bg-black opacity-50"></div>
  
  <!-- Contenedor del formulario -->
  <div class="relative bg-setext-secondary rounded-lg shadow-lg p-6 z-50 w-full max-w-lg">
    <h2 class="text-xl font-bold mb-4">Eliminar Galpón</h2>
    
    <!-- Formulario para eliminar -->
    <form (ngSubmit)="deleteGalpon()">
      <div class="mb-4">
        <label class="block text-gray-700">Número de Galpón</label>
        <input [(ngModel)]="deleteGalponData.numero_Galpon" name="numero_Galpon" type="number" class="mt-1 block w-full border-gray-300 rounded-md" required />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700">Nuevo Número de Galpón</label>
        <input [(ngModel)]="deleteGalponData.nuevo_Numero_Galpon" name="nuevo_Numero_Galpon" type="number" class="mt-1 block w-full border-gray-300 rounded-md" required />
      </div>
      <div class="flex justify-end space-x-4">
        <button type="submit" class="bg-red-500 hover:bg-red-700 text-secondary font-bold py-2 px-4 rounded">
          Eliminar
        </button>
        <button type="button" (click)="cancelDelete()" class="bg-gray-500 hover:bg-gray-700 text-secondary font-bold py-2 px-4 rounded">
          Cancelar
        </button>
      </div>
    </form>
    
  </div>
</div>

</div>
