    
<h3>Beneficios del Sistema :</h3>

<p class="p"> <span><b>-</b></span> Monitoreo Continuo: Provee datos en tiempo real sobre la producción y salud de cada gallina.</p>
<p class="p"> <span><b>-</b></span>  Gestión Eficiente: Facilita la gestión y permite la identificación temprana de problemas de salud.</p>
<p class="p"> <span><b>-</b></span>  Acceso Centralizado: Información accesible para todos los usuarios autorizados a través de una plataforma web.</p>
<p class="p"> <span><b>-</b></span>  Optimización de la Producción: Permite ajustar las condiciones del galpón para mejorar la producción de huevos y el bienestar animal.</p>

     