<div class="w-full">
  <h1 class="text-center mb-6 text-3xl font-bold custom-font custom-color">Tabla de las gallinas</h1>
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3 text-[#c77900]">Código</th>
        <th scope="col" class="px-6 py-3 text-[#c77900]">Raza</th>
        <th scope="col" class="px-6 py-3 text-[#c77900]">Fecha de Nacimiento</th>
        <th scope="col" class="px-6 py-3 text-[#c77900]">Fecha de Ingreso</th>
        <th scope="col" class="px-6 py-3 text-[#c77900]">Num Galpón</th>
        <th scope="col" class="px-6 py-3 text-[#c77900]">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let gallina of gallinas" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          {{ gallina.codigo_Gallinas }}
        </th>
        <td class="px-6 py-4">{{ gallina.id_Raza ? 'Raza ' + gallina.id_Raza : 'Desconocida' }}</td>
        <td class="px-6 py-4">{{ gallina.fecha_Nacimiento | date: 'dd/MM/yyyy' }}</td>
        <td class="px-6 py-4">{{ gallina.fecha_ingreso | date: 'dd/MM/yyyy' }}</td>
        <td class="px-6 py-4">{{ gallina.numero_Galpon }}</td>
        <td class="px-6 py-4">
          <div class="flex space-x-4">
            <button (click)="editGallina(gallina)" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
              Actualizar
            </button>
            <button (click)="deleteGallina(gallina.codigo_Gallinas)" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
              Eliminar
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Submenú de Edición flotante -->
  <div *ngIf="selectedGallina" class="fixed inset-0 flex items-center justify-center z-50">
    <!-- Fondo oscuro -->
    <div class="absolute inset-0 bg-black opacity-50" (click)="cancelEdit()"></div>
    
    <!-- Contenedor del formulario -->
    <div class="relative bg-white rounded-lg shadow-lg p-6 z-50 w-full max-w-lg">
      <h2 class="text-lg font-bold mb-4">Editar Gallina</h2>
      <form (ngSubmit)="updateGallina()">
        <div class="mb-4">
          <label for="codigo_gallina" class="block text-sm font-medium text-gray-700">Código de la Gallina</label>
          <input [(ngModel)]="selectedGallina.Codigo_Gallinas" name="codigo_gallina" type="text" id="codigo_gallina" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" required>
        </div>
        <div class="mb-4">
          <label for="raza" class="block text-sm font-medium text-gray-700">Raza</label>
          <input [(ngModel)]="selectedGallina.id_Raza" name="raza" type="number" id="raza" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" required>
        </div>
        <div class="mb-4">
          <label for="fecha_nacimiento" class="block text-sm font-medium text-gray-700">Fecha de Nacimiento</label>
          <input [(ngModel)]="selectedGallina.fecha_Nacimiento" name="fecha_nacimiento" type="date" id="fecha_nacimiento" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" required>
        </div>
        <div class="mb-4">
          <label for="numero_galpon" class="block text-sm font-medium text-gray-700">Número de Galpón</label>
          <input [(ngModel)]="selectedGallina.numero_Galpon" name="numero_galpon" type="number" id="numero_galpon" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" required>
        </div>
        <div class="flex justify-end space-x-4">
          <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded">Actualizar</button>
          <button (click)="cancelEdit()" type="button" class="bg-gray-500 hover:bg-gray-700 text-white py-2 px-4 rounded">Cancelar</button>
        </div>
      </form>
      
      
    </div>
  </div>
  